

    <video autoplay muted loop>
        <source src="/video/bg-video.mp4.mp4" type="video/mp4">
        Tarayıcınız video elementini desteklemiyor.
    </video>
    <div class="container-sm">
        <div id="login" class="w-50 mx-auto position-absolute top-50 start-50 translate-middle">
            <form  action="#" method="post" class="px-5 pt-5 pb-4">
             <h1 class="text-center text-white fw-lighter">Treafund  | Login</h1>
           
 
             <div class="input-group mt-3 mb-3">
                 <span for="exampleInputEmail1" class="input-group-text">E-mail</span>
                 <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
             </div>
 
             <div class="input-group mt-3 mb-3">
                 <span for="exampleInputEmail1" class="input-group-text">Password</span>
                 <input type="password" class="form-control" name="password" id="exampleInputEmail1" aria-describedby="emailHelp">
             </div>
 
             
 
            
             <div class="text-center">
                 
                   <button id="sendLoginButton" class="main-btn" type="submit">Login</button>
                
             </div>
         </form>
         <div class="text-center pb-2">
            <a class="btn btn-outline-primary text-white">Did I forget your password?</a>
        </div>
        </div>
    </div>
    