<main class="d-flex justify-content-center justify-content-md-between">
    <!-- Profile section on the left corner of the screen start -->
    {{#if displayLink}}

    <div id="leftSideMenu" class="sticky-top col-2 justify-content-start text-center h-50 py-1 px-1">

        <div class="d-flex flex-column justify-content-start">

            <a href="#" class="d-inline-flex align-items-center link-body-emphasis text-decoration-none">
                <img class="img-fluid rounded-circle me-2"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1LiDcLaF8g8pMWMBQmAvwY523lTGoJNX0tw&usqp=CAU"
                    width="50" height="50">
            </a>
            <h6>{{users.email}}</h6>
            <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                <a class="col-6 border px-1 py-1 float-start text-decoration-none" href="#">My NFTs</a>
                <a class="col-6 border px-1 py-1 float-end text-decoration-none" href="#">My Discounts</a>
            </div>
            <ul class="nav d-inline col-12 col-md-auto mb-2 align-items-center justify-content-center mb-0">
                <li class="nav-link border border-1 border-primary">
                    <a href="/" class="text-decoration-none">Home</a>
                </li>
                <li class="nav-link text-dark">
                    <a href="profile">My Collections</a>
                </li>
                <!--<li class="nav-link text-dark">
                    <a href="settings" class="text-decoration-none">Settings</a>
                </li>-->

                <li class="nav-link">
                    <a class="btn btn-outline-danger" href="/users/logout">Log out</a>
                </li>


            </ul>

        </div>



    </div>
    {{/if}}
    <!-- Profile section on the left corner of the screen end -->

    <!-- Main content section in the middle of the screen start -->
    {{#unless displayLink}}
    <div>
        <p style="color: white;">hello ---------------------------------------a</p>
    </div>
    {{/unless}}
    <!-- ekranın sol köşesinde bulunan profil kısmı bitiş-->
    <div id="mainContent"
        class="row col-8 d-flex felx-wrap col-12 col-md-auto mb-2 align-items-start justify-content-center p-1">


        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/efes.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ephesus Ancient City NFT</h5>
                        <p class="card-text">Eat famous dishes in Çanakkale and Balıkesir within a week and win an iskender in Bursa!</p>
                        <a href="#" class="btn btn-primary">Explore My NFT</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/van.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Van Lake NFT</h5>
                        <p class="card-text">Redeem 10 NFTs in Van and get a free Van breakfast!</p>
                        <a href="#" class="btn btn-primary">Explore My NFT</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/ayasofya.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hagia Sophia NFT</h5>
                        <p class="card-text">Eat from our partner places in Trabzon and Rize and win accommodation in Artvin!</p>
                        <a href="#" class="btn btn-primary">Explore My NFT</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/göbeklitepe.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Göbeklitepe NFT</h5>
                        <p class="card-text">Eat famous dishes in Çanakkale and Balıkesir within a week and win an iskender in Bursa!</p>
                        <a href="#" class="btn btn-primary">Explore My NFT</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/topkapı.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Topkapı Palace NFT</h5>
                        <p class="card-text">Redeem 10 NFTs in Van and get a free Van breakfast!</p>
                        <a href="#" class="btn btn-primary">Explore My NFT</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/sümela.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sümela Monastery NFT</h5>
                        <p class="card-text">Eat from our partner places in Trabzon and Rize and win accommodation in Artvin!</p>
                        <a href="#" class="btn btn-primary">Explore My NFT</a>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <!-- Main content section in the middle of the screen end -->


    <!-- Right corner content section start -->
    <div id="topRight" class="sticky-top col-2 h-50 text-center ms-1">
        {{#if displayLink}}
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button border-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        My Collections
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-profile">
                        <div class="border border-1 shadow h-auto">
                            <h6>My Çanakkale Collection</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">11 NFTs</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOTAL 33</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>My Ankara Collection</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">24 NFTs</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOTAL 54</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>My Muğla Collection</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">18 NFTs</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOTAL 29</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>My Sivas Collection</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">0 NFTs</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOTAL 14</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>My Edirne Collection</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">2 NFTs</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOTAL 30</a>
                        </div>


                    </div>

                </div>
            </div>
            {{/if}}
            <!-- Right corner content section end -->
</main>
