<main class="d-flex justify-content-center justify-content-md-between">
    <!-- ekranın sol köşesinde bulunan profil kısmı başlangıç-->
    {{#if displayLink}}

    <div id="leftSideMenu" class="sticky-top col-2 justify-content-start text-center h-50 py-1 px-1">

        <div class="d-flex flex-column justify-content-start">

            <a href="#" class="d-inline-flex align-items-center link-body-emphasis text-decoration-none">
                <img class="image-fluid rounded-circle me-2"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1LiDcLaF8g8pMWMBQmAvwY523lTGoJNX0tw&usqp=CAU"
                    width="50" height="50">
            </a>
            <h6>{{users.email}}</h6>
            <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                <a class="col-6 border px-1 py-1 float-start text-decoration-none" href="#">NFT'lerim</a>
                <a class="col-6 border px-1 py-1 float-end text-decoration-none" href="#">İndirimlerim</a>
            </div>
            <ul class="nav d-inline col-12 col-md-auto mb-2 align-items-center justify-content-center mb-0">
                <li class="nav-link border border-1 border-primary">
                    <a href="/" class="text-decoration-none">Ana sayfa</a>
                </li>
                <li class="nav-link text-dark">
                    <a href="profile">Koleksiyonlarım</a>
                </li>
                <!--<li class="nav-link text-dark">
                    <a href="settings" class="text-decoration-none">Ayalar</a>
                </li>-->

                <li class="nav-link">
                    <a class="btn btn-outline-danger" href="/users/logout">Çıkış yap</a>
                </li>


            </ul>

        </div>



    </div>
    {{/if}}


    <!-- ekranın sol köşesinde bulunan profil kısmı bitiş-->

    <!--ekranın orta köşesinde bulunan akış sayfası başlangıç -->
    {{#unless displayLink}}
    <div>
        <p style="color: white;">merhaba ---------------------------------------a</p>
    </div>
    {{/unless}}
    <!-- ekranın sol köşesinde bulunan profil kısmı bitiş-->
    <div id="mainContent"
        class="row col-8 d-flex felx-wrap col-12 col-md-auto mb-2 align-items-start justify-content-center p-1">


        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/efes.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Efes Antikkent NFT</h5>
                        <p class="card-text">Bir haftada Çanakkale ve Balıkesir'de belirli yerlerde meşhur yemekleri ye
                            Bursa'da iskender kazan!</p>
                        <a href="#" class="btn btn-primary">NFT'mi incele</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/van.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Van Gölü NFT'si</h5>
                        <p class="card-text">Van'da kazandığın 10 nft yi bozdur Van kahvaltın bizden olsun!</p>
                        <a href="#" class="btn btn-primary">NFT'mi incele</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/ayasofya.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ayasofya NFT'si</h5>
                        <p class="card-text">Trabzon ve Rize'de anlaşmalı olduğumuz yerlerden ye artvinde konaklama
                            kazan!</p>
                        <a href="#" class="btn btn-primary">NFT'mi incele</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/göbeklitepe.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Göbeklitepe NFT'si</h5>
                        <p class="card-text">Bir haftada Çanakkale ve Balıkesir'de belirli yerlerde meşhur yemekleri ye
                            Bursa'da iskender kazan!</p>
                        <a href="#" class="btn btn-primary">NFT'mi incele</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/topkapı.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Topkapı sarayı NFT</h5>
                        <p class="card-text">Van'da kazandığın 10 nft yi bozdur Van kahvaltın bizden olsun!</p>
                        <a href="#" class="btn btn-primary">NFT'mi incele</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/image/sümela.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sümela Manastırı NFT'si</h5>
                        <p class="card-text">Trabzon ve Rize'de anlaşmalı olduğumuz yerlerden ye artvinde konaklama
                            kazan!</p>
                        <a href="#" class="btn btn-primary">NFT'mi incele</a>
                    </div>
                </div>
            </div>
        </div>





    </div>

    <!--ekranın orta köşesinde bulunan akış sayfası bitiş -->


    <!--ekranın sağ köşesinde bulunan akış sayfası başlangıç -->
    <div id="topRight" class="sticky-top col-2 h-50 text-center ms-1">
        {{#if displayLink}}
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button border-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Koleksiyonlarım
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-profile">
                        <div class="border border-1 shadow h-auto">
                            <h6>Çanakkale koleksiyonum</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">11 NFT</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOPLAM 33</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>Ankara koleksiyonum</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">24 NFT</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOPLAM 54</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>Muğla koleksiyonum</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">18 NFT</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOPLAM 29</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>Sivas koleksiyonum</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">0 NFT</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOPLAM 14</a>
                        </div>

                        <div class="border border-1 shadow h-auto">
                            <h6>Edirne koleksiyonum</h6>
                        </div>
                        <div class="align-items-center justify-content-center justify-content-md-between mb-5">
                            <a href="#" class="col-6 border p-1 float-start text-decoration-none">2 NFT</a>
                            <a href="#" class="col-6 border p-1 float-end text-decoration-none">TOPLAM 30</a>
                        </div>


                    </div>

                </div>
            </div>
            {{/if}}
            <!--ekranın sağ köşesinde bulunan akış sayfası bitiş -->
</main>