<!-- Start of the content flow in the middle of the screen -->

<div id="mainContent" class="row col-8 d-flex felx-wrap col-12 col-md-auto mb-2 align-items-start justify-content-center p-1">

    <div class="row">
        <div>
            <p style="color: white;">hello ---------------------------------------a</p>
        </div>

        <h4 class="text-center mb-4">My User Information</h4>
        <form action="" method="post">
            <div class="input-group mb-4">
                <span class="input-group-text">First and Last Name</span>
                <input type="text" aria-label="First Name" class="form-control" placeholder="First Name">
                <input type="text" aria-label="Last Name" class="form-control" placeholder="Last Name">
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">Email</span>
                <input type="email" aria-label="Email" class="form-control">
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">Your Password</span>
                <input type="password" aria-label="Password" class="form-control">
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">Password (again)</span>
                <input type="password" aria-label="Password" class="form-control">
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Your Gender</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Prefer not to say</option>
                </select>
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">Mobile Phone</span>
                <input id="tel" type="tel" aria-label="Phone" class="form-control">
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>

            <button type="submit" class="btn btn-primary">Update My Information</button>

        </form>
    </div>
</div>

<!-- End of the content flow in the middle of the screen -->
