<!--ekranın orta köşesinde bulunan akış sayfası başlangıç -->

<div id="mainContent"
    class="row col-8 d-flex felx-wrap col-12 col-md-auto mb-2 align-items-start justify-content-center p-1">

    <div class="row">
        <div>
            <p style="color: white;">merhaba ---------------------------------------a</p>
        </div>

        <h4 class="text-center mb-4">Kullanıcı bilgilerim</h4>
        <form action="" method="post">
            <div class="input-group mb-4">
                <span class="input-group-text">Ad ve Soyad</span>
                <input type="text" aria-label="Ad" class="form-control" placeholder="Ad">
                <input type="text" aria-label="Soyad" class="form-control" placeholder="Soyad">
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">E-posta</span>
                <input type="email" aria-label="E-posta" class="form-control">
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">Şifreniz</span>
                <input type="password" aria-label="Şİfreniz" class="form-control">
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">Şifre (tekrar)</span>
                <input type="password" aria-label="Şİfreniz" class="form-control">
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Cinsiyetiniz</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Cinsiyet</option>
                    <option value="1">Erkek</option>
                    <option value="2">Kadın</option>
                    <option value="3">Belirtmek istemiyorum</option>
                </select>
            </div>

            <div class="input-group mb-4">
                <span class="input-group-text">Cep telefonu</span>
                <input id="tel" type="tel" aria-label="Telefonu" class="form-control">
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>

            <button type="submit" class="btn btn-primary">bilgilerimi güncelle</button>

        </form>
    </div>
</div>